.confirmation {
    background-color: #fff;
    padding: 6vw;
    color: #21416C;
}

.confirmation h1 {
    margin-bottom: 4vh;
    font-weight: 600;
}

.confirmation p {
    font-size: 2rem;
    margin-bottom: 2vh;
    font-weight: 400;
}

.map {
    
    display: flex;
    margin-top: 3vh;
    width: 85vw;
    margin: auto;
    height: 60vh;
    margin-top: 3vh;
}

.confirm {
    /* height: 50vh; */
}

.confirm header {
    height: 20vh;
}