.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    color: #21416C;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.ceva {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border-color: #21416C;
    padding: 1vh;
    font-weight: 500;
    font-size: 1.5rem;
}

.button {
    margin-top: 5vh;
    background-color: #21416C;
    padding: 2vw;
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
}