.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 80vw;
  max-width: 80vw;
}

.form-control input:focus {
  outline: none;
  border-color: #21416C;
  background-color: #BEE5FA;
}

.inputs-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#plant-left {
  animation: plants 1.5s ease alternate infinite;
}

#plant-right {
  animation: plants 1.5s ease alternate infinite 0.5s;
}

.svgeu {
  display: block;
  width: 50vw;
  height: 30vh;
  margin: auto;
  /* filter: grayscale(100%); */
  filter: invert(25%) sepia(100%) saturate(175%) hue-rotate(183deg) brightness(80%) contrast(150%);
}

.form-wrapper {
  background-color: #fff;
}

#me {
  animation: me 1s ease alternate infinite;
  transform-origin: bottom;
}

.nameClasses {
  color: #ffffff;
}

.form-control {
  font-size: 1.5rem;
  color: #21416C;
}

.footer {
  display: flex;
  margin-top: 5vh;
  height: 10vh;
  justify-content: space-around;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  color: #21416c;
}

.facebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  color: #21416c;
}

.youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  color: #21416c;
}

.facebook svg {
  margin-top: 1vh;
}

.instagram svg {
  margin-top: 1vh;
}

.youtube svg {
  margin-top: 1vh;
}


@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }

  to {
    transform: rotateZ(5deg);
  }
}

@keyframes plants {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-30%);
  }
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.form-actions {
  text-align: right;
}

.form-btn {
  background-color: #21416c;
  border-radius: 8px;
  color: #fff;
  padding: 4vw;
  text-align: center;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.form-actions {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.form-actions button {
  background-color: #ED1C24;
  font-size: 1.5rem;
  border-radius: 8px;
  color: #fff;
  padding: 4vw;
  text-align: center;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.form-btn:disabled,
.form-btn:disabled:hover,
.form-btn:disabled:active {
  background-color: #ccc;
  background-image: none;
  color: #292929;
  border-color: #181818;
  cursor: not-allowed;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}

@media (min-width: 768px) {
  .form-actions button {
    margin: auto;
    padding: 1vw;
  }

  .form-btn {
    margin: auto;
    padding: 1vw;
  }

  .svgeu {
    padding-top: 4vw;
  }
}