.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.inputs-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  /* column-gap: 1rem; */
  /* flex-wrap: wrap; */
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.form-actions {
  text-align: right;
}

.form-btn {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffe998, #57370d);
  color: #000;
  height: 4rem;
  border-radius: 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.form-btn:disabled,
.form-btn:disabled:hover,
.form-btn:disabled:active {
  background-color: #ccc;
  background-image: none;
  color: #292929;
  border-color: #181818;
  cursor: not-allowed;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
