.section-hero {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  opacity: 95%;
  padding: 4.8rem 0 0 0;
  width: 100vw;
  height: 90vh;
}

.heading-primary {
  font-size: 4.6rem;
  margin-bottom: 4.6rem;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffe998, #57370d);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.number-text {
  font-size: 1.7rem;
  /* margin-bottom: 4.6rem; */
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffe998, #57370d);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  color: #ccc;
}

.btn--full {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffe998, #57370d);
  color: #000;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-top: 2.4rem;
}

.hero-img-box {
  width: 100%;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.missing {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 50rem;
  height: 50rem;
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  color: #ccc;
  font-size: 1.8rem;
  font-weight: 600;
}

/* .delivered-text span {
  color: #cf711f;
  font-weight: 700;
} */
